/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #212121;
  color: white;
}

h1, h2, h3, h4 {
  color: white;
}

.main {
  margin: 0 auto;
  background-image: url("/mt_fuji.jpeg");
  background-size: cover;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "tagline tagline . . ." "tagline tagline . . ." ". . . logo logo" ". . . logo logo";
}

.logo_container {
  grid-area: logo;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.logo {
  color: white;
  height: 150px;
  min-width: 350px;
  margin: 25px;
  border-bottom: 15px solid #6d2835;
  border-right: 15px solid #e8dcdc;
  font-size: 300%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s ease all;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 10px;
}

.logo:hover {
  border-bottom: 15px solid #e8dcdc;
  border-right: 15px solid #6d2835;
}

.tagline {
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  grid-area: tagline;
  margin: 50px;
  padding: 50px;
  width: 450px;
}

.tag {
  font-size: 200%;
  font-weight: bold;
}

.mission {
  font-size: 125%;
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px 0px 10px 0px;
}

.signup {
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 5px;
  border-left: 5px solid #6d2835;
  border-bottom: 5px solid #e8dcdc;
  font-size: 125%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  transition: .4s ease all;
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.signup:hover {
  border-left: 5px solid #e8dcdc;
  border-bottom: 5px solid #6d2835;
}

.signup:focus {
  outline: none;
  border-left: 5px solid #e8dcdc;
  border-bottom: 5px solid #6d2835;
}

nav {
  margin: 0 auto;
  background-color: #212121;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 0px 20px;
}

.alert {
  font-size: 125%;
  opacity: 1;
  animation: fade 2s infinite;
}

@keyframes fade {
  0%, 100% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}

.login, button, input {
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  font-size: 100%;
  color: white;
  border-top: 5px solid #e8dcdc;
  border-right: 5px solid #6d2835;
  transition: .4s ease all;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 5px;
  margin: 5px;
  margin-top: 0;
  padding: 5px;
}

.login:hover, button:hover, input:hover {
  color: white;
  padding: 5px;
  border-top: 5px solid #6d2835;
  border-right: 5px solid #e8dcdc;
}

button:focus, input:focus {
  outline: none;
  border-top: 5px solid #6d2835;
  border-right: 5px solid #e8dcdc;
}

.current_user {
  color: white;
}

.explore {
  color: black;
  padding: 15px;
  margin: 0px auto;
  background-color: #e8dcdc;
}

.explore h2 {
  color: black;
  font-size: 300%;
}

.icon_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.icon_card {
  border-radius: 5px;
  color: black;
  width: 250px;
  height: 150px;
  background-color: #495057;
  margin: 25px;
  text-align: center;
}

.icon_card span {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 150%;
  height: 150px;
  width: 250px;
  background-color: rgba(0, 0, 0, .2);
  transition: .4s ease all;
}

.icon_card span:hover {
  color: black;
  background-color: rgba(255, 255, 255, .2);
}

footer {
  background-color: #212121;
  height: 50px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login_grid {
  display: grid;
  height: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 150px 1fr 1fr 150px 50px;
  grid-gap: 1px 1px;
  grid-template-areas: "nav_bar nav_bar nav_bar nav_bar" "logo . . ." ". login_cont login_cont ." ". login_cont login_cont ." ". . . ." "footer_bar footer_bar footer_bar footer_bar";
  background-color: #e8dcdc;
  background-image: url("/mt_fuji.jpeg");
  background-size: cover;
}

.nav_bar {
  grid-area: nav_bar;
  background-color: #212121;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 0px 20px;
}

.s_logo_cont {
  grid-area: logo;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  max-height: 150px;
}

.s_logo {
  background-color: rgba(255, 255, 255, .4);
  border-radius: 5px;
  border-left: 5px solid #6d2835;
  border-bottom: 5px solid #e8dcdc;
  font-size: 200%;
  height: 50px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s ease all;
}

.s_logo:hover {
  border-left: 5px solid #e8dcdc;
  border-bottom: 5px solid #6d2835;
}

.s_logo_cont a:focus {
  outline: none;
}

.login_cont {
  grid-area: login_cont;
  background-color: rgba(255, 255, 255, .4);
  border-bottom: 15px solid #6d2835;
  border-right: 15px solid #e8dcdc;
  border-radius: 10px;
  padding: 20px;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
}

.login_cont form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: lowercase;
}

.login_cont form input {
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  font-size: 100%;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px;
}

.login_cont form input:focus {
  background-color: white;
  font-size: 100%;
  outline: none;
}

.login_cont form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6d2835;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6d2835;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #6d2835;
}

.login_cont submit_btn {}

.footer_bar {
  grid-area: footer_bar;
  background-color: #212121;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.category_selection {
  margin: 5px;
  font-size: 75%;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 5px;
  overflow: scroll;
  height: 150px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.mentors_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 100px 1fr 1fr 50px 50px;
  grid-gap: 1px 1px;
  grid-template-areas: "nav_bar nav_bar nav_bar nav_bar" "logo category_title category_title ." "mentors_list mentors_list mentors_list mentors_list" "mentors_list mentors_list mentors_list mentors_list" ". . . ." "footer_bar footer_bar footer_bar footer_bar";
  background-image: url("/mt_fuji.jpeg");
  background-size: cover;
  height: 100vh;
}

.mentors_list {
  color: black;
  background-color: rgba(255,255,255,.4);
  grid-area: mentors_list;
  overflow: scroll;
  overflow-x: hidden;
  margin: 25px;
  border-bottom: 15px solid #6d2835;
  border-right: 15px solid #e8dcdc;
  border-radius: 10px;
}

.mentors_list h1, h2, h3, h4 {
  color: black;
}

.category_title {
  grid-area: category_title;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mentor_profile {
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  background-color: rgba(255,255,255,.7);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.mentor_profile img {
  width: 200px;
  height: auto;
  border-radius: 5px;
}

.mentor_profile button {
  color: black;
  background-color: rgba(255,255,255,.9);
  border-radius: 5px;
  border: none;
  border-left: 5px solid #6d2835;
  border-bottom: 5px solid #e8dcdc;
  transition: .4s ease all;
}

.mentor_profile button:hover {
  border: none;
  border-left: 5px solid #e8dcdc;
  border-bottom: 5px solid #6d2835;
}

::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #6d2835;
    border-radius: 10px;
}

.mentor_bio {
  margin: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.white_button {
  background-color: white;
  color: black;
}

.white_button:hover {
  background-color: white;
  color: black;
}


.dashboard_layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 50px;
  grid-gap: 1px 1px;
  grid-template-areas: "dashboard_nav dashboard_nav dashboard_nav dashboard_nav" "dashboard_main dashboard_main dashboard_main dashboard_main" "dashboard_main dashboard_main dashboard_main dashboard_main" "dashboard_footer dashboard_footer dashboard_footer dashboard_footer";
  background-image: url("/mt_fuji.jpeg");
  background-size: cover;
  height: 100vh;
}

.dashboard_nav {
  grid-area: dashboard_nav;
  background-color: #212121;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 0px 20px;
}

.dashboard_logo {
  grid-area: dashboard_logo;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px;
  max-height: 50px;
}

.dashboard_main {
  grid-area: dashboard_main;
  padding: 10px;
  margin: 25px;
  border-bottom: 15px solid #6d2835;
  border-right: 15px solid #e8dcdc;
  border-radius: 10px;
  color: black;
  background-color: rgba(255,255,255,.4);
  overflow: scroll;
}

.dashboard_main h1, h2, h3, h4 {
  color: black;
}

.dashboard_main h1 {
  margin: 0;
}

.dashboard_main button, input{
  color: black;
}

.dashboard_footer {
  grid-area: dashboard_footer;
  background-color: #212121;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 0px 20px;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ss_logo {
  background-color: rgba(255, 255, 255, .4);
  border-radius: 5px;
  border-left: 5px solid #6d2835;
  border-bottom: 5px solid #e8dcdc;
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s ease all;
  margin-top: 0;
  padding: 5px;
}

.ss_logo:hover {
  border-left: 5px solid #e8dcdc;
  border-bottom: 5px solid #6d2835;
}

.nav_controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.request{
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  padding: 5px;
}

.sent_direct_request, .sent_broadcasted_request, .request_inbox, .broadcast_feed {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .6);
  margin: 10px;
  padding: 5px;
}

.request_inbox, .broadcast_feed {
}

.broadcast_feed {
  overflow: scroll;
}

.dashboard_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard_panels {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px 1px;
  grid-template-areas: "inbox inbox inbox profile_image" "your_requests your_requests your_requests broadcasts" "your_requests your_requests your_requests broadcasts";
}

.profile_image {
  grid-area: profile_image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_image img {
  border-radius: 5px;
  width: 250px;
  height: auto;
}

.inbox {
  grid-area: inbox;
}

.your_requests {
  grid-area: your_requests;
}

.broadcasts {
  grid-area: broadcasts;
}

.broadcasts a { color: black; }
