<%# page to show to everyone before and after login %>

<!-- TO DO:
    Update nav bar on login
    Remove sign up button on login
 -->

<nav>
    <a href="/sessions/new">
      <span class="login">login</span>
    </a>
</nav>

<!-- main grid container -->
<div class="main">

  <div class="logo_container">
    <div class="logo">
      <h1>ikigai</h1>
    </div>
  </div>

  <div class="tagline">
    <span class="tag">Teach something,</span>

    <span class="tag">Learn something.</span>

    <span class="mission">This is a mission statement. Here, we will describe the goal of Ikigai. It will be short, sweet, and inviting.</span>

    <div class="signup">
      <a href="/users/new">Sign up &rarr;</a>
    </div>
  </div>

</div>

<!-- EXPLORE SECTION -->
<div class="explore">
  <h2>Explore</h2>

  <div class="icon_cards">

    <div class="icon_card hockey">
      <span>Sports</span>
    </div>

  </div>
</div>

<!-- FOOTER -->
<footer>
  <span>About Ikigai</span>

  <span>Footer Stuff &copy;</span>
</footer>
