<h1><%= @category.name %> Mentors</h1>
<% @skills.each do |skill| %>

<div class= "user-list">
    <h2><%= skill.user.firstname%><%= skill.user.lastname%> </h2>
    <%= image_tag user.profile_url %>
    <p> user rating  </p>
    
</div>

<% end %>